<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Landing!</title>
        <script th:inline="javascript">
            /*<![CDATA[*/
            function redirectToMutum() {
                var token = [[${token}]];
                console.log("Token: " + token);
                //window.localStorage.setItem('auth_token', token);
                // http://alpha-website.s3-website.eu-central-1.amazonaws.com/?jwtsso=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJjeXJpbC5qb3VpQGdtYWlsLmNvbSIsInJvbGVzIjpbIlVTRVIiXSwiZXhwIjoxNDY1NzYxMTE1fQ.wotXaQHjl9ltL4cGIul7mpqCrHQ4U7_ms7r1CDCBJa_lpCdUl-qS4mNJ3DjuYUv181UYg2aEkzQvb-t9Yy50tA#/signin?redirect-url=%252Fhome
                window.location = "http://alpha.empr1te.com/?jwtsso=" + token;
            }

            function redirectToMutumGood() {
                var token = [[${token}]];
                console.log("Token: " + token);
                window.localStorage.setItem('auth_token', token);
                window.location = "http://alpha.empr1te.com/";
            }
            //setTimeout(redirectToMutum, 5000);
            /*]]>*/
        </script>
    </head>
    <body>
        <h1>You are logged as <span th:text="${username}">null</span>!</h1>
        <p>
            <a th:href="@{/saml/logout}">Global Logout</a><br/>
    		<a th:href="@{/saml/logout?local=true}">Local Logout</a>
        </p>
        <p>
            <a href="javascript:redirectToMutum();">Go to Mutum (bad redirect)</a><br/>
            <a href="javascript:redirectToMutumGood();">Go to Mutum (good redirect)</a><br/>
        </p>
    </body>
</html>